In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\install\\spark-3.5.3-bin-hadoop3'

In [2]:

from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import SparkSession, Row
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.appName("ReadDF").getOrCreate()
spark

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 54055)
Traceback (most recent call last):
  File "c:\Users\shravanr\AppData\Local\anaconda3\envs\Spark_3_5_3\lib\socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\shravanr\AppData\Local\anaconda3\envs\Spark_3_5_3\lib\socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\shravanr\AppData\Local\anaconda3\envs\Spark_3_5_3\lib\socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\shravanr\AppData\Local\anaconda3\envs\Spark_3_5_3\lib\socketserver.py", line 747, in __init__
    self.handle()
  File "C:\install\spark-3.5.3-bin-hadoop3\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\install\spark-3.5.3-bin-hadoop3\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
  File "C:\install\spark-3.5.3-bin-hadoop3\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
  File "C:\install\spark-3.5.3-bin-hadoop3\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
  File "c:\Users\shravanr\AppData\Local\anaconda3\envs\Spark_3_5_3\lib\socket.py", line 717, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [12]:
df = spark.read.format("csv") \
    .option("delimiter", "\t") \
    .option("encoding", "UTF-8") \
    .option("inferSchema", "true") \
    .option("header", "false") \
    .load(r"C:\Users\shravanr\learning\spark\pyspark\input_dir\data.tsv")

In [18]:
df = spark.read.format("csv") \
    .option("delimiter", "\t") \
    .option("encoding", "UTF-8") \
    .option("header", "true") \
    .schema("EmployeeId int,	EmployeeName string, Department	string, Age int, Salary float")\
    .load(r"C:\Users\shravanr\learning\spark\pyspark\input_dir\data.tsv")

In [17]:
df.printSchema()

root
 |-- EmployeeId: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: float (nullable = true)

In [7]:
spark.stop()

In [13]:
df = spark.read.format("csv") \
    .option("delimiter", "\t") \
    .option("encoding", "UTF-8") \
    .schema("EmployeeId int,	EmployeeName string, Department	string, Age int, Salary float")\
    .option("header", "false") \
    .load(r"C:\Users\shravanr\learning\spark\pyspark\input_dir\data_no_header.tsv")

In [14]:
df.show()

+----------+------------------+-----------+---+-------+
|EmployeeId|      EmployeeName| Department|Age| Salary|
+----------+------------------+-----------+---+-------+
|         1|          John Doe|Engineering| 30|75000.0|
|         2|        Jane Smith|  Marketing| 28|65000.0|
|         3|   Michael Johnson|      Sales| 35|70000.0|
|         4|       Emily Davis|         HR| 40|60000.0|
|         5|     William Brown|Engineering| 45|80000.0|
|         6|     Olivia Wilson|  Marketing| 32|62000.0|
|         7|       James Jones|      Sales| 38|71000.0|
|         8|        Ava Garcia|         HR| 29|59000.0|
|         9|   Benjamin Miller|Engineering| 33|77000.0|
|        10|Charlotte Martinez|  Marketing| 31|63000.0|
|        11|   Elijah Anderson|      Sales| 36|72000.0|
|        12|     Sophia Thomas|         HR| 27|61000.0|
|        13|      Lucas Taylor|Engineering| 34|76000.0|
|        14|    Isabella Moore|  Marketing| 30|64000.0|
|        15|     Mason Jackson|      Sales| 37|73000.0|
|        16|        Mia Martin|         HR| 28|62000.0|
|        17|         Ethan Lee|Engineering| 39|78000.0|
|        18|      Amelia Perez|  Marketing| 29|65000.0|
|        19|Alexander Thompson|      Sales| 41|74000.0|
|        20|      Harper White|         HR| 30|63000.0|
+----------+------------------+-----------+---+-------+
only showing top 20 rows

In [17]:
df = spark.read.format("csv") \
    .option("delimiter", "\t") \
    .option("encoding", "UTF-8") \
    .schema("EmployeeId int,	EmployeeName string, Department	string, Age int, Salary float")\
    .option("header", "false") \
    .option("samplingRatio", "0.001") \
    .load(r"C:\Users\shravanr\learning\spark\pyspark\input_dir\data_no_header.tsv")

df.show()

+----------+------------------+-----------+---+-------+
|EmployeeId|      EmployeeName| Department|Age| Salary|
+----------+------------------+-----------+---+-------+
|         1|          John Doe|Engineering| 30|75000.0|
|         2|        Jane Smith|  Marketing| 28|65000.0|
|         3|   Michael Johnson|      Sales| 35|70000.0|
|         4|       Emily Davis|         HR| 40|60000.0|
|         5|     William Brown|Engineering| 45|80000.0|
|         6|     Olivia Wilson|  Marketing| 32|62000.0|
|         7|       James Jones|      Sales| 38|71000.0|
|         8|        Ava Garcia|         HR| 29|59000.0|
|         9|   Benjamin Miller|Engineering| 33|77000.0|
|        10|Charlotte Martinez|  Marketing| 31|63000.0|
|        11|   Elijah Anderson|      Sales| 36|72000.0|
|        12|     Sophia Thomas|         HR| 27|61000.0|
|        13|      Lucas Taylor|Engineering| 34|76000.0|
|        14|    Isabella Moore|  Marketing| 30|64000.0|
|        15|     Mason Jackson|      Sales| 37|73000.0|
|        16|        Mia Martin|         HR| 28|62000.0|
|        17|         Ethan Lee|Engineering| 39|78000.0|
|        18|      Amelia Perez|  Marketing| 29|65000.0|
|        19|Alexander Thompson|      Sales| 41|74000.0|
|        20|      Harper White|         HR| 30|63000.0|
+----------+------------------+-----------+---+-------+
only showing top 20 rows

In [22]:
data = [("John", "HR", 28, 3000.0),
        ("Smith", "Admin", 22, 2500.0),
        ("Williams", "Admin", 23, 2000.0),
        ("Jones", "HR", 30, 4000.0),
        ("Brown", "Admin", 25, 3500.0)]

df = spark.createDataFrame(data, ["EmployeeName", "Department", "Age", "Salary"]).repartition(3)
df = df.withColumn("EmployeeId", F.monotonically_increasing_id()) #gives ids that are unique across partitions
df.show()

+------------+----------+---+------+-----------+
|EmployeeName|Department|Age|Salary| EmployeeId|
+------------+----------+---+------+-----------+
|       Smith|     Admin| 22|2500.0|          0|
|       Jones|        HR| 30|4000.0|          1|
|        John|        HR| 28|3000.0| 8589934592|
|    Williams|     Admin| 23|2000.0|17179869184|
|       Brown|     Admin| 25|3500.0|17179869185|
+------------+----------+---+------+-----------+

In [21]:
df.rdd.getNumPartitions()

3

In [23]:
df.printSchema()

root
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Salary: double (nullable = true)
 |-- EmployeeId: long (nullable = false)

In [27]:
from pyspark.sql.functions import col

df = df.withColumn("Salary", col("Salary").cast("int"))
df.printSchema()

root
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- EmployeeId: long (nullable = false)